### Visualization of the datasets

The first step that is generally usefull to do before any other kind of peration is usually to load and visualiza the datasets as they are, this operation can help to discover some kind of pattern that may be useful to analyze later on in the general workflow of the project.

Possibili tematiche da analizzare:
- Correlazione tra vari aspetti dell’uguaglianza di genere: Possiamo esaminare le correlazioni tra vari aspetti dell’uguaglianza di genere. Ad esempio, c’è una correlazione tra la discriminazione attitudinale e i guadagni delle donne? O tra i diritti di proprietà delle donne e la loro rappresentanza nel governo locale? Questo potrebbe richiedere qualche un’analisi statistica approfondita e potrebbe rivelare cose interessanti.

- Analisi temporale: Essndo i nostri dati raccolti spesso nel corso del tempo, potremmo esaminare come questi vari aspetti dell’uguaglianza di genere sono cambiati nel tempo. Ci sono stati progressi in alcune aree ma non in altre?

- Confronto tra paesi: Possiamo confrontare questi vari aspetti dell’uguaglianza di genere tra diversi paesi. Ci sono paesi che si comportano particolarmente bene o male in certi aspetti? Questo potrebbe anche darci l’opportunità di esplorare perché alcuni paesi potrebbero avere migliori risultati in termini di uguaglianza di genere (inferenze sulla sola base di dati statistici a meno che non siano state fatte direttamente negli articoli da cui abbiamo preso i dati le lascerie perdere).

- Modellazione predittiva: Possiamo utilizzare tecniche di apprendimento automatico per creare un modello predittivo. Ad esempio, possiamo cercare di prevedere i guadagni delle donne in base a vari fattori, come la discriminazione attitudinale, i diritti di proprietà, la rappresentanza nel governo locale, ecc. (progettino di machine learning, possiamo rimanere sul semplice ma sarebbe figo)

- Analisi dell’impatto delle politiche: Se disponiamo di dati sulle politiche o sulle leggi relative all’uguaglianza di genere, possiamo esaminare l’impatto di queste politiche sui vari aspetti dell’uguaglianza di genere. (integrazione dei dati con quelli relativi alle legislazioni, potrebbe essere un lavoraccio in quanto dovremmo raccogliere legislazioni di diverse località nel corso del tempo a meno che non vogliamo rimanere su un contesto più ampio e generico, del resto i nostri dati provengono dalle nazioni unite)


Considerazioni:
- Converrebbe ridurre il numero di dataset e circoscriverli tramite la selezione di tematiche che possono essere accostate con un senso, una prima proposta è quella che ho fatto qui di sotto. 
- Per l'inferenza, la predizione e l'ottenimento di conclusioni rilevani bisogna che i dataset siano ben fatti (anche se non ben calssificati in quanto il compito di algoritmi ML di sorta è quello di occuparsi anche di dati non classificati).
- Scegliere quindi 4-6 dataset rilevanti al taglio definitivo che vogliamo dare al progetto e partire da li con le dovute analisi

In [11]:
import csv 
import pandas as pd 
#pulzia dati e creazione file csv

#education science and research
df_total_research_fundings = pd.read_excel("../data/education_science_research/total_research_funding.xlsx", skiprows=18)
df_men_research_fundings = pd.read_excel("../data/education_science_research/men_research_funding.xlsx", skiprows=18)
df_women_research_fundings = pd.read_excel("../data/education_science_research/women_research_funding.xlsx", skiprows=18)
df_total_research_fundings.to_csv("../data/education_science_research/total_research_funding.csv", index=False)
df_men_research_fundings.to_csv("../data/education_science_research/men_research_funding.csv", index=False)
df_women_research_fundings.to_csv("../data/education_science_research/women_research_funding.csv", index=False)
df_total_research_fundings = df_total_research_fundings.fillna("")
df_men_research_fundings = df_men_research_fundings.fillna("")
df_women_research_fundings = df_women_research_fundings.fillna("")

#environment and climate change
df_total_political_executives = pd.read_excel("../data/environment_climate_change/total_political_executives_climate.xlsx", skiprows=18)
df_men_political_executives = pd.read_excel("../data/environment_climate_change/men_political_executives_climate.xlsx", skiprows=18)
df_women_political_executives = pd.read_excel("../data/environment_climate_change/women_political_executives_climate.xlsx", skiprows=18)
df_total_political_executives.to_csv("../data/environment_climate_change/total_political_executives_climate.csv", index=False)
df_men_political_executives.to_csv("../data/environment_climate_change/men_political_executives_climate.csv", index=False)
df_women_political_executives.to_csv("../data/environment_climate_change/women_political_executives_climate.csv", index=False)
df_total_political_executives = df_total_political_executives.fillna("")
df_men_political_executives = df_men_political_executives.fillna("")
df_women_political_executives = df_women_political_executives.fillna("")

#major political party leaders
df_total_political_parties = pd.read_excel("../data/major_political_party_leaders/total_political_parties.xlsx", skiprows=18)
df_men_political_parties = pd.read_excel("../data/major_political_party_leaders/men_political_parties.xlsx", skiprows=18)
df_women_political_parties = pd.read_excel("../data/major_political_party_leaders/women_political_parties.xlsx", skiprows=18)
df_total_political_parties.to_csv("../data/major_political_party_leaders/total_political_parties.csv", index=False)
df_men_political_parties.to_csv("../data/major_political_party_leaders/men_political_parties.csv", index=False)
df_women_political_parties.to_csv("../data/major_political_party_leaders/women_political_parties.csv", index=False)
df_total_political_parties = df_total_political_parties.fillna("")
df_men_political_parties = df_men_political_parties.fillna("")
df_women_political_parties = df_women_political_parties.fillna("")



#public EU administrations
df_public_adm_total = pd.read_excel("../data/European_public_admin/european_agencies_total.xlsx", skiprows=18)
df_public_adm_men = pd.read_excel("../data/European_public_admin/european_agencies_men.xlsx", skiprows=18)
df_public_adm_women = pd.read_excel("../data/European_public_admin/european_agencies_women.xlsx", skiprows=18)
df_public_adm_total.to_csv("../data/European_public_admin/european_agencies_total.csv", index=False)
df_public_adm_men.to_csv("../data/European_public_admin/european_agencies_men.csv", index=False)
df_public_adm_women.to_csv("../data/European_public_admin/european_agencies_women.csv", index=False)
df_public_adm_total = df_public_adm_total.fillna("")
df_public_adm_men = df_public_adm_men.fillna("")
df_public_adm_women = df_public_adm_men.fillna("")

#european courts
df_total_european_court = pd.read_excel("../data/european_courts/total_judges_european_court.xlsx", skiprows=18)
df_men_european_court = pd.read_excel("../data/european_courts/men_judges_european_court.xlsx", skiprows=18)
df_women_european_court = pd.read_excel("../data/european_courts/women_judges_european_court.xlsx", skiprows=18)
df_total_european_court.to_csv("../data/european_courts/total_judges_european_court.xlsx", index=False)
df_men_european_court.to_csv("../data/european_courts/men_judges_european_court.xlsx", index=False)
df_women_european_court.to_csv("../data/european_courts/women_judges_european_court.xlsx", index=False)
df_total_european_court = df_total_european_court.fillna("")
df_men_european_court = df_men_european_court.fillna("")
df_women_european_court = df_women_european_court.fillna("")

#european finance
df_european_financial_institutions_total = pd.read_excel("../data/European_finance/european_financial_institutions_total.xlsx", skiprows=18)
df_european_financial_institutions_men = pd.read_excel("../data/European_finance/european_financial_institutions_men.xlsx", skiprows=18)
df_european_financial_institutions_women = pd.read_excel("../data/European_finance/european_financial_institutions_women.xlsx", skiprows=18)
df_european_financial_institutions_total.to_csv("../data/European_finance/european_financial_institutions_total.xlsx", index = False)
df_european_financial_institutions_men.to_csv("../data/European_finance/european_financial_institutions_men.xlsx", index= False)
df_european_financial_institutions_women.to_csv("../data/European_finance/european_financial_institutions_women.xlsx", index= False)
df_european_financial_institutions_total = df_european_financial_institutions_total.fillna("")
df_european_financial_institutions_men = df_european_financial_institutions_men.fillna("")
df_european_financial_institutions_women = df_european_financial_institutions_women.fillna("")

### Analisi di correlazione

In [12]:
df_men_political_executives.head()

,Geographic region\Time,2022,2021,2020,2019,2018,2017,2016,2015,2014,2013,2012
0,Albania,2,4,4,4,6,,,,,,
1,Austria,1,1,2,1,1,3.0,4.0,4.0,3.0,2.0,2.0
2,Bosnia and Herzegovina,2,2,3,3,4,,,,,,
3,Belgium,1,1,1,1,1,1.0,1.0,0.0,0.0,2.0,2.0
4,Bulgaria,6,7,8,8,9,7.0,4.0,6.0,5.0,11.0,5.0

In [15]:
df_public_adm_total.head()

,Time,2023,2022,2021,2020,2019,2018,2017,2016,2015,...,2012,2011,2010,2009,2008,2007,2006,2005,2004,2003
0,Entity\Sex,Total,Total,Total,Total,Total,Total,Total,Total,Total,...,Total,Total,Total,Total,Total,Total,Total,Total,Total,Total
1,Total,1325,1287,1288,1289,1274,1288,1273,1289,1264,...,1237,927,879,827,848,858,694,688,588,375
2,Agency for the Cooperation of Energy Regulator...,27,27,27,26,28,28,27,28,27,...,27,26,,,,,,,,
3,Body of European Regulators for Electronic Com...,26,27,27,27,27,28,28,28,28,...,26,,,,,,,,,
4,Community Plant Variety Office (CPVO),27,28,28,28,28,29,29,29,29,...,27,28,28,28,27,28,26,25,25,31

From the correlation matrix, we can conclude that:
- There is a strong positive correlation (0.834070) between the percentage of men and women with discriminatory attitudes towards women. This suggests that in countries where a higher percentage of men have discriminatory attitudes towards women, there is also a higher percentage of women with discriminatory attitudes towards other women. 
- The correlations between discriminatory attitudes and the gender gap in earnings are relatively low (between 0.068956 and 0.125778), suggesting that there is not a strong linear relationship between these two aspects. This does not exclude the possibility of a non-linear relationship or the influence of other variables not included in this analysis.



(da confermare e rivedere le seguenti interpretazioni:
- % Men e % Women hanno una correlazione di 0.834070, il che indica una forte correlazione positiva. Questo suggerisce che nei paesi dove gli uomini mostrano comportamenti discriminatori verso le donne, anche le donne tendono a mostrare comportamenti discriminatori verso altre donne, e viceversa.
- % Men e Any cash labor income hanno una correlazione di 0.125778, che è una correlazione positiva ma debole. Questo indica che non c’è una relazione forte tra gli uomini con comportamenti discriminatori e il divario salariale di genere.
- % Men e Cash only hanno una correlazione di 0.086807, che è una correlazione positiva molto debole. Questo suggerisce che non c’è quasi nessuna relazione tra gli uomini con comportamenti discriminatori e il divario salariale di genere considerando solo il reddito da lavoro in contanti.
- Any cash labor income e Cash only hanno una correlazione di 0.863380, che è una forte correlazione positiva. Questo indica che quando il divario salariale di genere considerando qualsiasi reddito da lavoro aumenta, anche il divario salariale di genere considerando solo il reddito da lavoro in contanti tende ad aumentare, e viceversa.)

### Cluster definition and visualization

Clustering is an unsupervised machine learning technique consisting in grouping unlabeled examples. The goal of this process is creating a data-driven classification of the observations and to infere relevant common features. The algorithm below deals with our datasets regarding gender gap across several fields. The first step is to create a syntetic visualization of the available data. <br>
Each dataframe will consider the most interesting statistics about these topics and will show them in an interesting way (da aggiustare)